html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  padding: 16px 240px;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 0 20px;
  
}

.hero {
  background-color: #1f2937;
  display: flex;
  color: #f9faf8;
  padding: 100px 240px;
  justify-content: space-between;
}

.hero .hero-text .main {
  font-size: 48px;
  font-weight: 800;
}

.hero .hero-text .secondary {
  font-size: 18px;
  margin-bottom: 9px;
  color: #e5e7eb;
}

.sign-up {
  border-radius: 9px;
  padding: 6px 32px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3882f6;
}

.hero .sign-up {
  border: 3px solid #3882f6;
  color: #f9faf8;
}

.hero-image {
  padding: 100px;
  background-color: #7a7f86;
  margin-left: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-text {
  flex: 1;
}

.content-cards {
  text-align: center;
  margin-bottom: 120px;
}

.content-cards .title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 42px 0;
}

.content-cards .container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-card .image {
  width: 180px;
  height: 180px;
  border: 3px solid #3882f6;
  border-radius: 16px;
}

.container .info-card {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card .text {
  color: #5b5b5c;
}

.quote {
  background-color: #e5e7eb;
  padding: 120px 320px;
}

.quote .text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 100;
}

.quote .owner {
  text-align: end;
  font-size: 28px;
  font-weight: 800;
}

.register {
  margin: 120px 240px;
  background-color: #3882f6;
  padding: 54px 140px;
  color: #f9faf8;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.register .text .main {
  font-size: 32px;
  font-weight: 700;
  color: #f9faf8;
}

.register .text .secondary {
  font-size: 20px;
  font-weight: 300;
  color: #e5e7eb;
}
.register .text {
  flex: 1;
}
.register .sign-up {
  border: 2px solid #e5e7eb;
  color: #e5e7eb;
  align-self: center;
}